<mat-toolbar color="primary" id="main-toolbar" class="mat-elevation-z1">
    <ddr-sidenav-toggle></ddr-sidenav-toggle>
    <ng-container *ngIf="null == (filter$ | async)">
        <h1>Repositories</h1>

        <span class="spacer"></span>

        <button mat-icon-button (click)="setFilter('')">
            <mat-icon>search</mat-icon>
        </button>
    </ng-container>

    <ddr-filter (onFilterChanged)="setFilter($event)" *ngIf="null != (filter$ | async)"></ddr-filter>
</mat-toolbar>

<mat-nav-list *ngIf="(repositories$ | async) as repositories">
    <mat-list-item *ngFor="let repository of repositories; trackBy: trackByFn"
                   [routerLink]="['/repositories', user.username, repository.slug, 'issues']">
        <a matLine [routerLink]="['/repositories', user.username, repository.slug, 'issues']">
            {{repository.slug}}
        </a>
        <p matLine>{{repository.updated_on|date:'medium'}}</p>
    </mat-list-item>
</mat-nav-list>
