<mat-toolbar color="primary" id="main-toolbar">
    <button [routerLink]="['/repositories']" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 *ngIf="null != repository">{{repository.name}}</h1>
</mat-toolbar>
