<ng-container *ngIf="(issue$ | async) as issue">
    <mat-toolbar color="primary" id="main-toolbar" class="mat-elevation-z1">
        <button [routerLink]="['/repositories', user.username, repository.name, 'issues']" mat-icon-button
                *ngIf="null != repository">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>#{{issue.id}}</h1>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #optionsMenu="matMenu">
            <button mat-menu-item
                    [routerLink]="['/repositories', user.username, repository.name, 'issues', issue.id, 'edit']"
                    *ngIf="null != issue">
                Edit
            </button>
        </mat-menu>

    </mat-toolbar>

    <div class="issue">

        <mat-card class="mb-2">
            <mat-card-title>{{issue?.title}}</mat-card-title>
            <mat-card-content>
                <dl class="dl-table">
                    <dt>Assignee</dt>
                    <dd>{{issue.assignee?.username}}</dd>

                    <dt>Kind</dt>
                    <dd>
                        {{issue.kind}}
                        <span [ngClass]="['kind','kind-'+issue.kind, 'ml-1']" title="issue.kind" class=""></span>
                    </dd>

                    <dt>Priority</dt>
                    <dd>
                        {{issue.priority}}
                        <span [ngClass]="['priority','priority-'+issue.priority, 'ml-1']" title="issue.priority"
                              class=""></span>
                    </dd>

                    <dt>State</dt>
                    <dd>{{issue.state}}</dd>

                    <dt>Created</dt>
                    <dd>{{issue.created_on|date:'medium'}}</dd>

                    <dt>Updated</dt>
                    <dd>{{issue.updated_on|date:'medium'}}</dd>

                    <dt>Reporter</dt>
                    <dd>{{issue.reporter?.username}}</dd>
                </dl>
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="issue.content.html">
            <mat-card-content [innerHTML]="issue.content.html|rawHtml"></mat-card-content>
        </mat-card>

    </div>
</ng-container>
