<h1 mat-dialog-title>Resolve Issue</h1>
<div mat-dialog-content>
    <p>{{issue?.title}}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" color="primary">Resolve</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
</div>
