<ng-container *ngIf="(issue$ | async) as issue">
    <mat-toolbar color="primary" id="main-toolbar" class="mat-elevation-z1">
        <button [routerLink]="['/repositories', user.username, repository.name, 'issues', issue.id]"
                mat-icon-button *ngIf="issue.id">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button [routerLink]="['/repositories', user.username, repository.name, 'issues']"
                mat-icon-button *ngIf="!issue.id">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>{{issue?.title}}</h1>
        <span class="spacer"></span>
    </mat-toolbar>

    <form #form="ngForm" (ngSubmit)="save(issue)">
        <button type="submit" mat-fab [disabled]="form.invalid || saving">
            <mat-icon>save</mat-icon>
        </button>

        <mat-card>
            <mat-card-content class="flex-container-column">

                <mat-form-field color="accent">
                    <input type="text" matInput placeholder="Title" [(ngModel)]="issue.title" name="title"
                           required="required" />
                </mat-form-field>

                <mat-form-field color="accent">
                <textarea matInput cdkTextareaAutosize placeholder="Content" #autosize="cdkTextareaAutosize"
                          [(ngModel)]="issue.content.raw" name="content"></textarea>
                </mat-form-field>

                <mat-form-field color="accent">
                    <mat-label>Priority</mat-label>
                    <mat-select [(ngModel)]="issue.priority" name="priority">
                        <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent">
                    <mat-label>State</mat-label>
                    <mat-select [(ngModel)]="issue.state" name="state">
                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent">
                    <mat-label>Kind</mat-label>
                    <mat-select [(ngModel)]="issue.kind" name="kind">
                        <mat-option *ngFor="let kind of kinds" [value]="kind">{{kind}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
        </mat-card>
    </form>
</ng-container>
