<ng-container *ngIf="(repository$ | async) as repository">
    <mat-toolbar color="primary" id="main-toolbar" class="mat-elevation-z1">

        <button [routerLink]="['/repositories', user.username]" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>

        <ng-container *ngIf="null == (filter$ | async)">
            <h1>Issues</h1>

            <span class="spacer"></span>

            <button mat-icon-button (click)="setFilter('')">
                <mat-icon>search</mat-icon>
            </button>
        </ng-container>

        <ddr-filter (onFilterChanged)="setFilter($event)" *ngIf="null != (filter$ | async)"></ddr-filter>

    </mat-toolbar>

    <button mat-fab [routerLink]="['/repositories', user.username, repository.name, 'issues', 'new', 'edit']">
        <mat-icon>add</mat-icon>
    </button>

    <mat-nav-list *ngIf="(issues$ | async) as issues">
        <mat-list-item *ngFor="let issue of issues; trackBy: trackByFn" class="issue"
                       [routerLink]="['/repositories', user.username, repository.name, 'issues', issue.id]">

            <a matLine [routerLink]="['/repositories', user.username, repository.name, 'issues', issue.id]">
                #{{issue.id}}: {{issue.title}}
            </a>

            <p matLine>
                {{issue.state}}
                <span [ngClass]="['kind','kind-'+issue.kind]" title="issue.kind" class="ml-1"></span>
                <span [ngClass]="['priority','priority-'+issue.priority]" title="issue.priority" class="ml-1"></span>
            </p>

            <button mat-icon-button [matMenuTriggerFor]="songMenu" (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #songMenu="matMenu">
                <button mat-menu-item (click)="resolve(issue)">
                    Resolve
                </button>
                <button mat-menu-item
                        [routerLink]="['/repositories', user.username, repository.name, 'issues', issue.id, 'edit']">
                    Edit
                </button>
                <button mat-menu-item (click)="deleteIssue(issue)">
                    Delete
                </button>
            </mat-menu>

        </mat-list-item>
    </mat-nav-list>
</ng-container>
