<mat-form-field [appearance]="'outline'">
    <input matInput type="text" [formControl]="formControl" #input />
    <button mat-icon-button matSuffix (click)="clear()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
