<ng-progress></ng-progress>
<mat-sidenav-container>
    <mat-sidenav #sidenav fixedInViewport="true">
        <mat-nav-list>
            <mat-list-item *ngIf="user">
                <img matListAvatar src="{{user.links.avatar.href}}" alt="Avatar">
                <h3 matLine>{{user.display_name}}</h3>
                <p matLine>{{user.username}}</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <a mat-list-item [routerLink]="['/repositories']" (click)="sidenav.close()">
                Repositories
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <div class="mat-typography">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
