<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    {{content}}
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" color="primary">OK</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
</div>
