//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-gray, 100, 0, 500);
$app-accent: mat-palette($mat-blue, 700, 600, 900);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer {
    max-width: 80vw;
    min-width: 300px;
}

.mat-fab {
    position: fixed !important;
    right: 0;
    bottom: 0;
    margin-right: 1rem !important;
    margin-bottom: 1rem !important;
    z-index: 2;
}

.mat-sidenav-content {

    padding-top: 56px;
    padding-bottom: 56px + 32px;
    min-height: calc(100vh - (56px + 56px + 32px));

    .mat-toolbar {
        position: fixed;
        top: 0;
        z-index: 2;
    }
}

.mat-toolbar {

    .spacer {
        flex: 1 1 auto;
    }

    h1 {
        margin-left: 0.5rem;
        max-width: calc(100vw - 120px);
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

// TODO: Move to component.
ddr-filter {

    flex: 1;
    font-size: 14px;

    .mat-form-field {

        width: 100%;

        .mat-form-field-outline {
            background-color: white;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        .mat-form-field-infix {
            border-block-start-width: 5px;
        }

        .mat-input-element {
            font-size: 16px;
        }
    }
}

////////////
// Issues //
////////////

.issue .kind {

    background-repeat: no-repeat;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: cover;
    margin-bottom: -.25rem;

    &.kind-bug {
        background-image: url('assets/issue/kind/bug.svg');
    }

    &.kind-enhancement {
        background-image: url('assets/issue/kind/enhancement.svg');
    }

    &.kind-proposal {
        background-image: url('assets/issue/kind/proposal.svg');
    }

    &.kind-task {
        background-image: url('assets/issue/kind/task.svg');
    }
}

.issue .priority {

    background-repeat: no-repeat;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: cover;
    margin-bottom: -.25rem;

    &.priority-blocker {
        background-image: url('assets/issue/priority/blocker.svg');
    }

    &.priority-critical {
        background-image: url('assets/issue/priority/critical.svg');
    }

    &.priority-major {
        background-image: url('assets/issue/priority/major.svg');
    }

    &.priority-minor {
        background-image: url('assets/issue/priority/minor.svg');
    }

    &.priority-trivial {
        background-image: url('assets/issue/priority/trivial.svg');
    }
}

/////////////////////
// Definition List //
/////////////////////

dl.dl-table dt {
    float: left;
    clear: left;
    width: 100px;
    padding: .5rem 0;
    margin: 0;
}

dl.dl-table dd {
    float: left;
    width: 200px;
    padding: .5rem 0;
    margin: 0;
}

dl.dl-table :after {
    content: '';
    display: table;
    clear: both;
}

dl.dl-table {
    overflow: auto;
}

//////////
// Flex //
//////////

.flex-container-row {
    display: flex !important;
    flex-direction: row;

    > * {
        flex: 1;
    }
}

.flex-container-column {
    display: flex !important;
    flex-direction: column;

    > * {
        flex: 1;
    }
}

////////////////////
// Margin Helpers //
////////////////////

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}

.mb-3 {
    margin-bottom: 2rem !important;
}

.ml-1 {
    margin-left: 0.5rem !important;
}

.mr-1 {
    margin-right: .5rem !important;
}

.m-2 {
    margin: 1rem !important;
}

.m-3 {
    margin: 2rem !important;
}

/////////////////////
// Padding Helpers //
/////////////////////

.p-2 {
    padding: 1rem !important;
}

.p-3 {
    padding: 2rem !important;
}

///////////////////
// Media Queries //
///////////////////

//
// Small
//
@media (min-width: 600px) {
    .mat-sidenav-content {
        padding-top: 64px;
        min-height: calc(100vh - (64px + 56px + 32px));
    }
}

